*.foreground:   #baa67f
*.background:   #1c1b19
*.cursorColor:  #baa67f

*.color0:       #1c1b19
*.color8:       #918175

*.color1:       #ef2f27
*.color9:       #f75341

*.color2:       #519f50
*.color10:      #98bc37

*.color3:       #fbb829
*.color11:      #fed06e

*.color4:       #2c78bf
*.color12:      #68a8e4

*.color5:       #e02c6d
*.color13:      #ff5c8f

*.color6:       #0aaeb3
*.color14:      #53fde9

*.color7:       #baa67f
*.color15:      #fce8c3
