* {
    border: none;
    border-radius: 0;
    font-family: Jetbrains Mono Medium;
    font-size: 10pt;
    min-height: 0;
}

window#waybar {
    background: #1c1b19;
    color: #baa67f;
}

tooltip {
  background: #1c1b19;
  border: 1px solid #2c78bf;
}

tooltip label {
  color: #baa67f;
}

#workspaces button {
    padding: 0 5px;
    background: #1c1b19;
    color: #baa67f;
}

#workspaces button.focused,
#workspaces button.active {
    background: #2c78bf;
    border-bottom: 2px solid #68a8e4;
}

#pulseaudio,
#clock,
#tray {
	padding-right: 10px
}
